
.account-box {
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    background: #fff;
    padding: 2rem;
    margin: 2rem auto;
}
.tab-btn {
    border: none;
    background-color: #f1f5f9;
    padding: 0.6rem 1.2rem;
    border-radius: 10px;
    font-weight: 600;
    margin-right: 0.5rem;
}
.tab-btn.active {
    background-color: #0f172a;
    color: #fff;
}
.form-control:disabled {
    background-color: #f8fafc;
}
.badge-plan {
    background-color: #fff7ed;
    color: #f97316;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    font-weight: 600;
}
.delete-link {
    text-decoration: none;
    color: #64748b;
    font-weight: 500;
}

.btn-orange{
    background-color: #f1a85a;
    color: #ffffff;
}
.btn-orange:hover {
    background-color: #e65100 !important;
    color: #ffffff;
}